#include "source/Win_Stuff.h"
									   	 
RES_MYICON ICON "stuff/screen/icon.ico"
	

MENU_QUICKSETTINGS DIALOG 0, 0, 200, 100
STYLE WS_POPUP | WS_CAPTION | WS_BORDER | WS_VISIBLE
CAPTION "Quick Settings"
FONT 8, "MS Shell Dlg"
BEGIN
	EDITTEXT QUICKSET_EDITX_EDIT, 25, 10, 100, 10, ES_NUMBER
	LTEXT "X:", QUICKSET_EDITX_TEXT, 5, 10, 10, 10
	
	EDITTEXT QUICKSET_EDITY_EDIT, 25, 25, 100, 10, ES_NUMBER  
	LTEXT "Y:", QUICKSET_EDITY_TEXT, 5, 25, 10, 10
	
	EDITTEXT QUICKSET_TILE_EDIT, 25, 40, 100, 10, ES_NUMBER
	LTEXT "Tile:", QUICKSET_TILE_TEXT, 5, 40, 20, 10

	COMBOBOX QUICKSET_LAYER, 10, 60, 100, 100, CBS_DROPDOWNLIST
														  
//	AUTO3STATE   "Layer", QUICKSET_LAYER, 130, 10, 50, 14
	
    //DEFPUSHBUTTON   "Lol C++ Rules", 222, 130, 10, 50, 14
	//AUTOCHECKBOX   "Lol C++ Rules", 222, 130, 10, 50, 14
	//AUTORADIOBUTTON "Lol C++ Rules", 222, 130, 10, 50, 14
	//CHECKBOX "Lol C++ Rules", 222, 130, 10, 50, 14
	//COMBOBOX 222, 130, 10, 50, 14
	//GROUPBOX "Lol C++ Rules", 222, 130, 10, 50, 14
	//LISTBOX 222, 130, 10, 50, 14
	//PUSHBOX "Lol C++ Rules", 222, 130, 10, 50, 14
	//PUSHBUTTON "Lol C++ Rules", 222, 130, 10, 50, 14
	//RADIOBUTTON "Lol C++ Rules", 222, 130, 10, 50, 14
	//STATE3 "Lol C++ Rules", 222, 130, 10, 50, 14
END